@import "desktop.css";
@import "mobile.css" only screen and (max-width: 728px);

.container{
    padding: 5px;
    margin: 0 auto;
}

.quebra{
    text-align: center;
    border:1px solid #bcbcbc;
}

.card{
    width: 100%;
    padding: 2%;
    box-shadow: rgba(100,100,100,0.5);
    background: white;
    margin-bottom: 20px;
    color: #5d5d5d;
    text-align: center;
}

.inscricoes{

}

.social{
    text-align: center;
}

.anuncio img{
    width: 100%;
}

.social i{
    font-size: 2em;
}


input{
    width: 100%;
    border: 1px solid #e4e4e4;
    padding: 4%;
    margin-bottom: 5px;
}

input[type="submit"]{
    background-color: #FE595F;
    font-weight: 600;
    color: white;
}

footer{
    background-color: black;
    padding: 5%;
    color: white;
    text-align: center;
}

